<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a6a14ad4-608d-4fc8-9cd9-71ad6739d23f/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/boxmachineinventary</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://boxmachineinventary.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>36063d1e-18d4-4a79-b977-4f5aa1ae4813</ProjectGuid>
    <PublishUrl>https://boxmachineinventary.scm.azurewebsites.net/</PublishUrl>
    <UserName>$boxmachineinventary</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>